.guest_search_container {
  width: 600px;
}
.right_top_action_button {
  float:right;
}

.search_input {
  margin-bottom: 2rem;
  width: 60%;
  display: inline;
}

.center_content {
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
}
