.vertical_line {
  border-right: thin solid #d3d3d3;
}

.text_center {
  text-align:center
}

.header_inline {
  display: inline-block;
}

.header_spacing {
  margin-left: 15px;
}

.calendar {
  margin-left: 5px;
  font-size: 1.5rem;
}
